# **T2. Deskritisasi Data**

Nama  : Kharisma Intan Safitri  
NIM   : 200411100010  
Kelas : Penambangan Data A  
Tanggal : 05 September 2022

## **Topik data:**  
Pengelompokan jenis Bunga Iris berdasarkan panjang dan lebar kelopak serta daun kelopak.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

untuk membaca dataset kita bisa mengunduh dataset dari internet kemudian menguplod dataset tersebut kedalam repository github. setelah itu kita menyalin link raw dataset yang ada dalam repo untuk dibaca dengan cara dibawah ini.

In [ ]:
url = "https://raw.githubusercontent.com/KharismaIntanSafitri/datamining/main/IRIS.csv"
dataset = pd.read_csv(url)

In [ ]:
dataset.info( )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [ ]:
dataset

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

## **1. Equal Width Intervals**

Equal-width intervals adalah discretization yang membagi data numerik menjadi beberapa kelompok dengan lebar kelompok yang kurang lebih sama besar.

In [ ]:
c_panjang_kelopak = dataset[["sepal_length"]]
c_lebar_kelopak = dataset[["sepal_width"]]
c_panjang_daunkelopak = dataset[["petal_length"]]
c_lebar_daunkelopak = dataset[["petal_width"]]

Menggunakan fungsi **cut** untuk mencari Equal-Width-Intervals

In [ ]:
c_panjang_kelopak["Kategori"] = pd.cut(dataset["sepal_length"],3, labels = ['A','B','C'])
c_lebar_kelopak["Kategori"] = pd.cut(dataset["sepal_width"],3, labels = ['A', 'B','C'])
c_panjang_daunkelopak['Kategori'] = pd.cut(dataset["petal_length"],3, labels = ['A', 'B','C'])
c_lebar_daunkelopak['Kategori'] = pd.cut(dataset["petal_width"],3, labels = ['A', 'B','C'])

equalWidth = pd.DataFrame([])
equalWidth["sepal_length"] = dataset["sepal_length"]
equalWidth['sepal_length_category'] = c_panjang_kelopak["Kategori"]

equalWidth["sepal_width"] = dataset["sepal_width"]
equalWidth["sepal_width_category"] = c_lebar_kelopak["Kategori"]

equalWidth["petal_length"] = dataset["petal_length"]
equalWidth["petal_length_category"] = c_panjang_daunkelopak["Kategori"]

equalWidth["petal_width"] = dataset["petal_width"]
equalWidth["petal_width_category"] = c_lebar_daunkelopak["Kategori"]

equalWidth["species"] = dataset[["species"]]

equalWidth

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,sepal_length,sepal_length_category,sepal_width,sepal_width_category,petal_length,petal_length_category,petal_width,petal_width_category,species
0,5.1,A,3.5,B,1.4,A,0.2,A,Iris-setosa
1,4.9,A,3.0,B,1.4,A,0.2,A,Iris-setosa
2,4.7,A,3.2,B,1.3,A,0.2,A,Iris-setosa
3,4.6,A,3.1,B,1.5,A,0.2,A,Iris-setosa
4,5.0,A,3.6,B,1.4,A,0.2,A,Iris-setosa
...,...,...,...,...,...,...,...,...,...
145,6.7,B,3.0,B,5.2,C,2.3,C,Iris-virginica
146,6.3,B,2.5,A,5.0,C,1.9,C,Iris-virginica
147,6.5,B,3.0,B,5.2,C,2.0,C,Iris-virginica
148,6.2,B,3.4,B,5.4,C,2.3,C,Iris-virginica
149,5.9,B,3.0,B,5.1,C,1.8,C,Iris-virginica

## **2. Equal Frequency Intervalss**

Equal-frequency intervals adalah discretization yang membagi data numerik menjadi beberapa kelompok dengan jumlah anggota yang kurang lebih sama besar.

In [ ]:
q_panjang_kelopak = dataset[["sepal_length"]]
q_lebar_kelopak = dataset[["sepal_width"]]
q_panjang_daunkelopak = dataset[["petal_length"]]
q_lebar_daunkelopak = dataset[["petal_width"]]

Pandas menyediakan method qcut untuk mencari nilai interval dari Equal_Frequency Intervals

In [ ]:
q_panjang_kelopak["Kategori"] = pd.qcut(dataset["sepal_length"],3, labels = ['A','B','C'])
q_lebar_kelopak["Kategori"] = pd.qcut(dataset["sepal_width"],3, labels = ['A', 'B','C'])
q_panjang_daunkelopak['Kategori'] = pd.qcut(dataset["petal_length"],3, labels = ['A', 'B','C'])
q_lebar_daunkelopak['Kategori'] = pd.qcut(dataset["petal_width"],3, labels = ['A', 'B','C'])

equalFrequency = pd.DataFrame([])
equalFrequency["sepal_length"] = dataset["sepal_length"]
equalFrequency['sepal_length_category'] = q_panjang_kelopak["Kategori"]

equalFrequency["sepal_width"] = dataset["sepal_width"]
equalFrequency["sepal_width_category"] = q_lebar_kelopak["Kategori"]

equalFrequency["petal_length"] = dataset["petal_length"]
equalFrequency["petal_length_category"] = q_panjang_daunkelopak["Kategori"]

equalFrequency["petal_width"] = dataset["petal_width"]
equalFrequency["petal_width_category"] = q_lebar_daunkelopak["Kategori"]

equalFrequency["species"] = dataset[["species"]]

equalFrequency

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,sepal_length,sepal_length_category,sepal_width,sepal_width_category,petal_length,petal_length_category,petal_width,petal_width_category,species
0,5.1,A,3.5,C,1.4,A,0.2,A,Iris-setosa
1,4.9,A,3.0,B,1.4,A,0.2,A,Iris-setosa
2,4.7,A,3.2,B,1.3,A,0.2,A,Iris-setosa
3,4.6,A,3.1,B,1.5,A,0.2,A,Iris-setosa
4,5.0,A,3.6,C,1.4,A,0.2,A,Iris-setosa
...,...,...,...,...,...,...,...,...,...
145,6.7,C,3.0,B,5.2,C,2.3,C,Iris-virginica
146,6.3,B,2.5,A,5.0,C,1.9,C,Iris-virginica
147,6.5,C,3.0,B,5.2,C,2.0,C,Iris-virginica
148,6.2,B,3.4,C,5.4,C,2.3,C,Iris-virginica
149,5.9,B,3.0,B,5.1,C,1.8,C,Iris-virginica

## **3. Entropy**

Entropi adalah nilai informasi yang menyatakan ukuran ketidakpastian(impurity) dari attribut dari suatu kumpulan obyek data dalam satuan bit

dalam tugas kali ini kita akan menggunakan data panjang kelopak (sepal length) sebagai sempel perhitungan

In [ ]:
uji = dataset[["sepal_length"]]
uji.describe()

       sepal_length
count    150.000000
mean       5.843333
std        0.828066
min        4.300000
25%        5.100000
50%        5.800000
75%        6.400000
max        7.900000

membuat category random untuk semua data

In [ ]:
np.random.seed(0)
uji["category"] = np.where(np.random.choice(2, uji.shape[0]) < 1, "A", "B")

In [ ]:
print('Pengelompokan data uji dengan kategori random')
uji

Pengelompokan data uji dengan kategori random

     sepal_length category
0             5.1        A
1             4.9        B
2             4.7        B
3             4.6        A
4             5.0        B
..            ...      ...
145           6.7        A
146           6.3        B
147           6.5        B
148           6.2        B
149           5.9        B

[150 rows x 2 columns]

membuat fungsi getOverCategory yang digunakan untuk menghitung data keseluruhan yang nantinya digunakan untuk menghitung entropy

In [ ]:
def getOverCategory(col):
  group = uji.loc[:, :].groupby("category").count()
  a = group.loc["A", col]
  b = group.loc["B", col]
  return (a, b, a+b)

fungsi splitter digunakan untuk membuat split antara value yang telah ditentukan lalu mengembalikan data yang telah dipisahkan

In [ ]:
def splitter(value:float, col:str)->tuple:
  # get data less and greater from value
  less = uji[uji[col] <= value]
  greater = uji[uji[col] > value]

  # calculate into category for each data
  less_group = less.loc[:, :].groupby("category").count()
  greater_group = greater.loc[:, :].groupby("category").count()

  # get value based on category
  less_category_A = less_group.loc["A", col] 
  less_category_B = less_group.loc["B", col] 
  greater_category_A = greater_group.loc["A", col] 
  greater_category_B = greater_group.loc["B", col] 

  return (
      [less_category_A, less_category_B, less_category_A + less_category_B],
      [greater_category_A, greater_category_B, greater_category_A + greater_category_B]
  )

Membuat fungsi entropy untuk mencari nilai entropy

Rumus Mencari Entropy :

$$Entropy (D_{1}) = - \sum_{i=1}^{m} pi \log_{2} pi$$

In [ ]:
def entropy(d):
  r1 = (d[0] / d[2]) * np.log2(d[0] / d[2]) 
  r2 = (d[1] / d[2]) * np.log2(d[1] / d[2]) 
  return np.sum([r1, r2]) * -1

Membuat fungsi info

In [ ]:
def info(d):
  r1 = (d[0][2] / uji.shape[0]) * entropy(d[0])
  r2 = (d[1][2] / uji.shape[0]) * entropy(d[1])
  return r1 + r2

Mmebuat fungsi gain untuk menghitung selisih antara entropy awal dengan yang baru.

Rumus Mencari Gain :

$$Gain(E_{new}) = (E_{initial}) - (E_{new})$$

In [ ]:
def gain(Einitial, Enew):
  return Einitial - Enew

Membuat DInitial

In [ ]:
D = getOverCategory("sepal_length")
entropy_d = entropy(D)
print("D = ",D)
print("Entropy D = ", entropy_d)

D =  (68, 82, 150)
Entropy D =  0.993707106604508

Melakukan beberapa tes split untuk mencari hasil dan informasi yang terbaik

Tes Pertama : Split 1:4.4

In [ ]:
split1  = splitter(4.4, "sepal_length")
info_split1 = info(split1)

print('Gain = ', gain(entropy_d, info_split1))

Gain =  0.003488151753460178

Tes Kedua : Split 2:5.5

In [ ]:
split2  = splitter(5.5, "sepal_length")
info_split2 = info(split2)

print('Gain = ', gain(entropy_d, info_split2))

Gain =  0.012302155146638905

Tes Ketiga : Split 3:7.0

In [ ]:
split3  = splitter(7.0, "sepal_length")
info_split3 = info(split3)

print('Gain = ', gain(entropy_d, info_split3))

Gain =  0.0005490214732508658

Dari seluruh hasil percobaan tes split yang telah dilakukan, maka diperoleh hasil split terbaik adalah split 3 yang mwemberikan keuntungan informasi sebesar 0.0005490214732508658, karena hasil tes split 3 memiliki nilai split yang terendah.